/* common */
html {
    background-color: #000;
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

th {
    font-weight: lighter;
    padding: 10px;
}

td {
    font-weight: lighter;
    padding: 10px;
}

.content {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

/* header */
.content__header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content__header__left a img {
    width: 50px;
}

.content__header__right {
    display: flex;
    align-content: center;
}

.content__header__right__list {
    list-style: none;
    margin-left: 15px;
}

/* main */
.content__main {
    margin: 0 50px;
}

.content__main__top {
    text-align: center;
    margin: 40px 0;
}

.content__main__top img {
    width: 150px;
}

.content__main__top h1 {
    font-size: 36px;
}

.content__main__member {
    margin-bottom: 40px;
}

.content__main__member h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.content__main__member__list {
    display: flex;
    list-style: none;
    margin-top: 10px;
}

.content__main__member__list li {
    text-align: center;
}

.content__main__member__list li a img {
    width: 80px;
    border-radius: 80px;
}

.content__main__product {
    margin-bottom: 40px;
}

.content__main__product h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content__main__product__list {
    list-style: none;
}

.content__main__product__list li  {
    padding: 20px;
    border: 1px solid #fff;
}

.content__main__product__list li p {
    font-size: 14px;
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 10px;
}

/* footer */
.content__footer {
    padding: 40px 0;
}

.content__footer p {
    text-align: center;
}